---
import Layout from "src/layouts/Layout.astro";
import { useStoryblokApi } from '@storyblok/astro'
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import ContactForm from "@components/utils/ContactForm.astro";

export async function getStaticPaths() {
  const storyblokApi = useStoryblokApi()

  const { data } = await storyblokApi.get('cdn/stories', {
    level: 1,
    excluding_slugs: 'home,config,test-post',
    // try draft version to load editor
    version: "draft",
    // version: import.meta.env.DEV ? "draft" : "published",
    resolve_links: 'url'
  }) 
  const stories = Object.values(data.stories)

  const paths = stories.map((story: any) => {
    return {
      params: { slug: story.slug }, 
    }
  })
  return paths
}

const sbApi = useStoryblokApi();
const { slug } = Astro.params;
const { data } = await sbApi.get(`cdn/stories/${slug}`, {
  version: import.meta.env.DEV ? "draft" : "published",
});
const page = data.story

// Meta Title and Description
let title = page.name + ' | Coris Development Group'
if (page.content.metatags != '') {
  const metaTitle = page.content.metatags.title
  title = metaTitle != '' ? metaTitle : page.name
  page.content.metatags.title = title + ' | Coris Development Group'
}

const meta = {
  title,
  description: page.content.metatags?.description
}
---
<Layout metaTags={meta}>
  {
    page.content.body?.map((blok: any) => {
      if (blok.component === 'heroBlok') {
        return <StoryblokComponent blok={blok} />
      }
      return <StoryblokComponent blok={blok} />
      
    })
  }
  {
    // May need boolen or component to handle show form in Storyblok
    page.slug === 'contact-us' &&
    <div class="mx-auto max-w-2xl pb-16">
      <ContactForm />
    </div>
  }
</Layout>